.questionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stepQuestion {
    color: black;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 1vh;
}

#phrase{
    margin-top: 50px;
    padding:0;
    font-size: 30px;
    font-weight: bolder;
}

.section-talk {
    margin: auto;
}

.helpButton {
    /* align-items: baseline; */
    border: none;
    background-color: transparent;
    color: #003a79;
    font-weight: bold;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 20px;
    margin: 0.5vh auto;
}