.columnContainer {
    background-color: #EDEDED;
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#select-words{
    display: grid;
    grid-template-columns: repeat(2);
}

.columnSpace {
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
    height: 70vh;
    width: 16vw;
    margin-top: 2vh;
}

.columnInfo{
    display: 50%;
    margin: auto;
}

.option {
    border: 3px solid #6024A0;
    border-radius: 7px;
    height: 6vh;
    width: 9vw;
    cursor: pointer;
}

.selection {
    border: 3px solid #6024A0;
    border-radius: 7px;
    height: 6vh;
    width: 9vw;
    cursor: pointer;
}

.word {
    color: #6024A0;
    font-size: 2vh;
    text-align: center;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}
