.columnContainer {
    background-color: #EDEDED;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.columnSpace {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EDEDED;
    height: 50vh;
    width: 50vw;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.columnInfo{
    display: 50%;
    margin: auto;
}

.option {
    color: #6024A0;
    background-color: white;
    border: 3px solid #6024A0;
    border-radius: 7px;
    height: 5vh;
    width: 9vw;
    cursor: pointer;
    margin-bottom: 0.5vh;
}

.selection {
    color: white;
    background-color: #6024A0;
    border: 3px solid #6024A0;
    border-radius: 7px;
    height: 5vh;
    width: 9vw;
    cursor: pointer;
    margin-bottom: 0.5vh;
}

.word {
    font-size: 2vh;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.arrowContainer {
    height: 6vh;
    margin: auto;

}

.arrow {
    height: 6vh;
    margin: auto;
}
