h1{
    font-size: 50px;
    color: #6024A0;
    text-align: center;
  }
  h5{
    font-size: 25px;
    color: #63666A;
    text-align: center;
  }
  .emotionsContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .imgEmotionsBotton,
  .imgEmotionsTop{
    display: flex;
    justify-content: center;
  }
  img{
    height: 240px;
    margin: none;
    padding: none;
  }
  .emotionButton{
    width: 300px;
    height: 300px;
    border: none;
    margin:10px;
  }
  p{
    color:#000000;
    font-size: 25px;
    margin: none;
    padding: none;
  }
  /*Boton continuar*/
  .continueEmotions{
    background-color: #6024A0;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    color:white;
    font-size: 25px;
    margin-top: 100px;
  }
  .continueEmotionsButton{
    display: flex;
    justify-content: center;
  }