
#general-container{
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: #EDEDED;
}

#all-emotions{
  height: 30%;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-column-gap: 30%;
}

#emotion-description p{
  font-weight: bold;
  font-size: 50px;
  color: #6024A0;
  text-align: center;
  /* margin-top: 5px; */
  margin: 7px;
  padding: 0px;
}

#username{
  font-weight: bolder;
}

#emotion-description h5{
  font-size: 25px;
  color: #63666A;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.emotion-name{
  font-size: 20px;
  margin-left: 40px;
  font-weight: 600;
}

.emotions-color{
  border-radius: 18%;
}
