.informationHeader {
    display: flex;
    flex-direction: row;
    height: 140px;
    width: 100%;
    justify-content: space-evenly;
}

h1 {
    color: #6024A0;
    font-size: 50px;
}

img {
    width: 110px;
    margin-top: 10px;
    margin-left: 10px;
}

.instructionsBreathing {
    display: flex;
    justify-content: center;
    height: 160px;
}

.textBreath {
    background-color: #C9A2FF;
    padding: 5px;
    border-radius: 5px;
}

p {
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.Countdown {
    display: flex;
    justify-content: center;
}

.CountdownCircle {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    background: #D9D9D9;
    border: 3px solid #63666A;
    border-radius: 100%;
    margin-top: 20px;
}

/*Boton continuar*/
.startButton {
    background-color: #6024A0;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    margin-top: 100px;
}

.startButtonSection {
    display: flex;
    justify-content: center;
}