#step1{
    background-color: #EDEDED;;
}
#step1-container{
    margin: 0 10% 0 10%;
}

#title-step1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-step1 img{
    width: 8%;
    height: 5%;
}

#step1-origin img{
    width: 3%;
    height: 2%;
}

#title-step1 h1{
    font-size: 40px;
    color: #6024A0;
    font-weight: bolder;
}

#info-step1 p{
    background-color: #C9A2FF;
    font-size: 30px;
}

