/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"); */

.informationHeader {
    background-color: #EDEDED;
    display: flex;
    flex-direction: row;
    height: 140px;
    width: 100%;
}

.infoImagesCorner {
    margin-top: 1vh;
    margin-left: 1vw;
}

.infoImage {
    max-width: 11vw;
    max-height: 11vh;
    margin-left: 1vw;
}

.infoName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

h1 {
    color: #6024A0;
    font-size: 50px;
}

.fakeSpace {
    width: 12vw;
}

.stepContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EDEDED;
    margin: auto;
}

.infoBanner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #C9A2FF;
    max-height: 75px;
    max-width: 65vw;
    margin: auto;
}

.infoParagraph {
    justify-self: center;
}

.colorPage {
    background-color: white;
    margin-top: 2vh;
    margin-left: 18vw;
    margin-right: 18vw;
    border: 3px solid #63666A;
}

