.steps {
  display: flex;
  justify-content: center;
}
/* border: 1px solid #63666a;
    background: #ededed;
    text-align: center;*/
 /*! After es la punta */   
.step-1:after {
  color: #63666a;
  border-left: 23px solid;
  border-top: 21px solid transparent;
  border-bottom: 28px solid transparent;
  display: inline-block;
  content: "";
  position: absolute;
  right: -23px;

}
.step-1 {
  background-color: #63666a;
  width: 250px;
  height: 49px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: .2%;
  /* border: 1px solid #63666a; */
}
.step-2:after {
  color: aqua;
  border-color: #63666a;
  border-left: 23px solid #000;
  border-top: 21px solid transparent;
  border-bottom: 28px solid transparent;
  display: inline-block;
  content: "";
  position: absolute;
  right: -23px;
 

}
.step-2 {
  background-color: #ededed;
  border-color: #63666a;
  width: 250px;
  height: 49px;
  display: inline-block;
  position: relative;
  text-align: center;
}
.step-3 {
  background-color: #ededed;
  width: 250px;
  height: 49px;
  display: inline-block;
  text-align: center;
}
