.indicator {
  display: flex;
  justify-content: center;
  background-color: #EDEDED;
}

.stepIndicator {
  height: 6vh;
  max-width: 70vw;
  margin-bottom: 1vh;
}

.mainButtonContainer {
  margin: auto;
}

.mainButton {
  color: white;
  font-size: 2vh;
  background-color: #6024A0;
  border: none;
  border-radius: 7px;
  height: 6vh;
  width: 9vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
