
.indicator {
  display: flex;
  justify-content: center;
  background-color: #EDEDED;
}

.stepIndicator {
  height: 6vh;
  max-width: 70vw;
  margin-bottom: 1vh;
}

.mainButtonContainer {
  margin: auto;
  background-color: #EDEDED;
  padding-bottom: 0.3em;
}

.mainButton {
  color: white;
  font-size: 2vh;
  background-color: #6024A0;
  border: none;
  border-radius: 7px;
  height: 6vh;
  width: 9vw;
  margin: 4vh auto 4vh auto;
  cursor: pointer;
  display: block;
}

.secondaryButton {
  color: white;
  font-size: 2vh;
  background-color: #C9A2FF;
  border: none;
  border-radius: 7px;
  height: 6vh;
  width: 9vw;
  margin: 4vh auto 4vh auto;
  cursor: pointer;
  display: block;
}

.mainButton:disabled {
  background-color: #BB8EEB;
  cursor: auto;
}

.step{
  background-color: #EDEDED;;
}

.step-container{
  margin: 0 18% 0 18%;
}

.title-step{
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-title{
  font-size: 40px;
  color: #6024A0;
  font-weight: bolder;
}

.action-description{
  font-size: 25px;
  text-align: center;
}

.info-step{
  background-color: #C9A2FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7vh;
  margin-bottom: 4vh;
}

.indicator {
  display: flex;
  justify-content: center;
}

.step-icon{
  position: absolute;
  left:5%;
  top:15%;
}

.purpleRadio {
  accent-color: #6024a0;
}